<!--
PetVey webapp
Group project
Comp 229 Sec009
Fall 2021
-->

<%- include ../partials/header.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <h2><%= title %></h2>
        <br>
        <div>
            <% if(typeof displayName == 'string' && displayName) { %>
            <!-- Add button -->
            <a href="/survey/add" class="btn btn-success align-self-end mb-3" role="button"> 
                <i class="fas fa-plus-circle"></i> 
                Add a new Survey
            </a>  
            <% } %>              
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center">Title</th>
                        <th class="text-center">Survey Creator</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                        <th class="text-center" colspan="2">Actions</th>
                    <% } else { %>
                        <th class="text-center">Title</th>
                        <th class="text-center">Survey Creator</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                    <% } %>

                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < surveys.length; count++) { %>
                    <tr>
                        <% if(typeof displayName == 'string' && displayName) { %>
                        <td class="text-center">
                            <a href="/survey/details/<%= surveys[count]._id %>">
                                <%= surveys[count].Title %>
                            </a>
                            </td>
                            <td class="text-center"><%= surveys[count].Author%></td>
                            <td class="text-center"><%= surveys[count].Description %></td>
                        
                            
                            <td class="text-center"><%= surveys[count].StartDate %></td>
                            <td class="text-center"><%= surveys[count].ExpiryDate%></td>
                            
                            <td class="text-center">

                            <!-- Edit button -->
                            <a href="/survey/edit/<%= surveys[count]._id %>" class="btn btn-success btn-sm"> 
                            <i class="fas fa-pencil-alt"></i></a>
                            </td>
                            <td class="text-center">
                                
                                <!--  DELETE button -->
                                <a href="/survey/delete/<%= surveys[count]._id %>" class="btn btn-secondary btn-sm"> 
                                <i class="fas fa-trash-alt"></i></a>
                            </td>
                        <% } else { %>
                            <td class="text-center">
                                <a href="/survey/details/<%= surveys[count]._id %>">
                                    <%= surveys[count].Title %>
                                </a>
                            </td>
                            <td class="text-center"><%= surveys[count].Author%></td>
                            <td class="text-center"><%= surveys[count].Description %></td>
                            <td class="text-center"><%= surveys[count].StartDate %></td>
                            <td class="text-center"><%= surveys[count].ExpiryDate%></td>
                        <% } %>                        
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<%- include ../partials/footer.ejs %>